/*----------VARIABLES----------*/

:root {
    /*----------colores-----------*/

    --color-primario: #2a83be;
    --color-fondo: rgb(218, 236, 238);

    /*----------fonts----------*/

    --fuente-principal: 'Oxanium', monospace;

    /*----------font sizes----------*/
    --fs-S: 13px;
    --fs-M: 16px;
    --fs-L: 20px;
}

/*TEST*/
*,
*::before,
*::after {
    /*border: 1px dotted red;*/
    box-sizing: border-box;
}

html {
    font-size: var(--fs-S);
}

body {
    font-family: var(--fuente-principal);    
    background-color: var(--color-fondo)
}

/*----------HEADER----------*/

.header {
    background-color: #f3f3f3;
    width: 100%;
    padding-bottom: 1.5em;
}

.navbar {
    background-color: var(--color-primario);
    width: 100vw;
    max-height: 7vh;
    min-height: 4rem;
    border-bottom: 1px solid #000;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo-container {    
    display: inline-block;    
    padding-left: .5rem;    
}

.navbar__logo {
    display: inline-block;
    max-height: 7vh;
    min-height: 4rem;
}

.navbar__menu-container {    
    background-color: var(--color-primario);
    position: fixed;    
    bottom: 0;
}

.navbar__menu {
    font-size:.75rem;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 0;    
}

.navbar__menu__item {
    list-style: none;
    text-align: center;
}

.btn__login {
    margin-right: 1rem;
    background-color: rgb(25, 74, 209);
    border-radius: 50px;
    padding: .7em 1em;
    color: #fff;
    border: none;
    font-weight: 500;    
}

.card__profile {    
    background-color: #fff
}

.profile__cover-container {
    height: 20vh;
    min-height: 9rem;
    overflow: hidden;    
}
.profile__cover-img {
    width: 100%;
}

.profile__img-portrait {
    display: inline-block;
    margin-top: -74px;
    margin-left: 34px;
    border: 6px solid #fff;
    width: 128px;
    height: 128px;
    border-radius: 100%;
}

.profile__img-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.profile__img {
    width: 100%;    
}

.profile__divisor {
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-primario);
    margin-top: -55px;
}

.profile__text {
    padding-left: 3rem;
    padding-bottom: 1rem;
    margin-top: 0;
    line-height: .5;
}