/*----------VARIABLES----------*/

:root {
    /*----------colores-----------*/

    --color-primario: #3c4446;
    --color-secundario: #b9ad75;
    --color-luces: #f1e5ab;
    --color-fondo: #0f0f0f;
    --color-fondo-cards: #131313;
    --color-fuente: #f5f5f5;

    /*----------fonts----------*/

    --fuente-principal: 'Oxanium', monospace;

    /*----------font sizes----------*/
    --fs-S: 13px;
    --fs-M: 16px;
    --fs-L: 20px;
}

*,
*::before,
*::after {
    /*border: 1px dotted red;*/
    box-sizing: border-box;
}

html {
    font-size: var(--fs-S);
}

body {
    font-family: var(--fuente-principal);    
    background-color: var(--color-fondo);
    color: var(--color-fuente);
}

img {
    width: 100%;
}

/*----------REUSABLE------------*/

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;    
}

.card {
    background-color: var(--color-fondo-cards);
    padding: 1em 3em;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 1rem;
}

.mrg-1 {
    margin-bottom: 0;
    margin-top: .5rem;
}

.highlight-text {
    color: var(--color-secundario);
}

/*----------------------------------------- HEADER ------------------------------------*/

.header {    
    width: 100%;
    padding-bottom: 1.5em;
}

/* --------------------------------------- NAVBAR ------------------------------------------ */

.navbar {
    background-color: var(--color-primario);
    width: 100%;
    max-height: 7vh;
    min-height: 4rem;
    border-bottom: 2px solid var(--color-secundario);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.navbar__logo-container {
    background: linear-gradient(135deg, var(--color-secundario), var(--color-luces) 30%, var(--color-secundario) 70%);
    display: inline-block;    
    padding-left: .5rem;    
}

.navbar__logo {    
    display: inline-block;
    max-height: 7vh;
    min-height: 4rem;
    filter: invert(100%);

}

.navbar__menu-container {    
    background: linear-gradient(135deg, var(--color-secundario), var(--color-luces) 30%, var(--color-secundario) 70%);
    position: fixed;    
    bottom: 0;
    border-top: 1px solid var(--color-fuente);
    width: 100%;
    max-width: 1000px;
    padding-top: .5rem;
}

.navbar__menu {
    font-size:.8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;    
}

.navbar__menu__item {
    list-style: none;
    text-align: center;    
}

.navbar__menu__link {
    color: var(--color-primario);
    text-decoration: none;
    display:flex;
    align-items: center;
    flex-direction: column;    
}

.menu__icon {
    width: 2.2rem;
    height: 2.5rem;
    filter: invert(33%) sepia(21%) saturate(670%) hue-rotate(12deg) brightness(92%) contrast(86%);
}

.navbar__menu__link:hover,
.navbar__menu__link:active,
.navbar__menu__link:focus {    
    font-weight: 600;
    color: black;
    filter: brightness(0%) contrast(100%);    
}

.menu__name {
    vertical-align: baseline;
}

.btn__login {
    margin-right: 1.5rem;
    background: linear-gradient(135deg, var(--color-secundario), var(--color-luces) 30%, var(--color-secundario) 70%);
    border-radius: .5em;
    padding: .7em 1em;
    color: var(--color-primario);
    border: none;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.btn__login:active {
    box-shadow: 2px -2px 5px var(--color-luces), -2px 2px 5px var(--color-luces), -2px -2px 5px var(--color-luces), 2px 2px 5px var(--color-luces);
}

/*---------------------------------------navbar end-----------------------------------------*/

/*------------------------------------------PROFILE----------------------------------------*/

.card__profile {    
    background-color: var(--color-fondo-cards);
}

.profile__cover-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 30vh;
    border-bottom: 1px solid var(--color-luces);
}
.profile__cover-img {
    height: 100%;
}

.profile__img-portrait {
    display: inline-block;
    margin-top: -5em;
    margin-left: 3em;
    padding: 6px;
    background-color: var(--color-secundario);    
    width: 10rem;
    height: 10rem;
    border-radius: 100%;    
}

.profile__img-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid var(--color-fondo);
    box-shadow: 0 0 10px var(--color-luces);
    overflow: hidden;
}

.profile__img {
    width: 100%;    
}

.profile__divisor {
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-primario);
    margin-top: -55px;
}

.profile__text {
    padding: 1rem 3rem 3rem 3rem;        
    line-height: 1.2;
}

.profile__user-name {
    font-size: 2.2rem;    
}

.section__title {
    font-size: 1.7rem;
}

.footer {
    width: 100%;
    max-width: 1000px;
    height: 190px;
    background-color: #000000;
    margin: 0 auto;
}